
.dashboard-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 0, 0);
}

.grid-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: white;
  color: #333;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card:hover {
  transform: translateY(-10px);
  background-color: #f0f0f0;
}

.icon {
  font-size: 50px;
  margin-bottom: 15px;
}