<div class="home-container">
    <h1>Dobrodošli na stranicu IPI Akademije</h1>
  <nav class="main-menu">
    <button class="menu-item">Pogledaj profil</button>
    <button class="menu-item">Student Fun Zone</button>
    <button (click)="idiNaTrackere()" class="menu-item active">My Trackers</button>
  </nav>

  <div class="content">
    
    <p>Odaberite "My Trackers" iz menija iznad da biste upravljali svojim životnim stilom.</p>
    <p>Odaberite "Pogledaj profil" iz menija da biste se vratili na svoj profil.</p>
    <img src="assets/welcome-image.jpg" alt="Welcome" class="welcome-img">
  </div>
</div>