<div class="header-content">
  <img src="/assets/logo.png" alt="IPI Logo" class="logo-img">
  
  <div class="header-text">
    <h1>Internacionalna poslovno-informaciona akademija Tuzla</h1>
    <p>Visoka škola za savremeno poslovanje, informacione tehnologije i tržišne komunikacije</p>
  </div>
</div>

<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/home" class="nav-btn">POGLEDAJ SVOJ PROFIL</a>
    <a routerLink="/fun-zone" class="nav-btn">STUDENT FUN ZONE</a>
    <a routerLink="/dashboard" class="nav-btn">MY TRACKERS</a>
  </div>
</nav>