
.header-content {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  align-items: center; 
  gap: 20px; 
  border-bottom: 1px solid #ddd;
}

.logo-img {
  height: 80px;   width: auto;
}

.header-text h1 {
  color: #0044cc;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}

.header-text p {
  color: #666;
  margin: 5px 0 0 0;
  font-size: 14px;
}


.navbar {
  background-color: rgb(45, 145, 238);
  padding: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 5px;
}

.nav-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: darkblue;
}